.App {
  background-color: #202020;
  width: 100vw;
  height: 100vh;
  padding: 150px 0 0;
}

.container {
  text-align: center;
}

.board {
  margin-bottom: 50px;
}

.row:last-child .cell {
  border-bottom: none;
}

.row {
  display: flex;
  justify-content: center;
}

.cell {
  box-sizing: border-box;
  display: inline-block;
  width: 80px;
  height: 80px;
  color: white;
  border-right: 1px solid #4E4E4E;
  border-bottom: 1px solid #4E4E4E;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell:last-child {
  border-right: none;
}

.scoreboard {
  color: white;
}

p {
  color: white;
}

.player {
  display: inline-block;
  padding: 6px 20px;
}

.player p {
  margin: 0;
  line-height: 1.8;
}

.player.active {
  font-weight: bold;
  border: 1px solid white;
}

.player.winner {
  border: 2px solid green;
}

.button {
  display: inline-block;
  background-color: green;
  color: white;
  margin-top: 15px;
  padding: 10px 25px;
}

.button:hover {
  cursor: pointer;
}